@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@400;500&family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* *{
    max-width: 1920px;
    margin: 0 auto;
} */
.nav-container {
  border: 1px solid red;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 45px;
  font-weight: 700;
}
.logo-container img {
  border: 1px solid red;
  width: 86.041px;
  /* height: 40px; */
  object-fit: cover;
}
.logo-container p {
  font-size: 40px;
}
.nav-items-container {
  border: 1px solid blue;
  width: 50%;
  display: flex;
  /* justify-content: space-between; */
  gap: 50px;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.G {
  color: #f144ae;
}
.nav-items-container a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.follow-us-on {
  color: #3c354f;
  /* text-align: center; */
  font-size: 18px;
  font-weight: 500;
  width: 262px;
  height: 56px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.third-page {
  display: flex;
  align-items: center;
  padding: 55px 240px 56px 240px;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.third-page-header {
  text-align: right;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.third-page-paragraph {
  /* width: 520px; */
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-flex;
  padding: 21px 40px;
  /* align-items: flex-start; */
  gap: 10px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  margin-left: 310px;
}

main {
  max-width: 1920px;
  margin: 0 auto;
}
.banner {
    border: 1px solid red;
   
}

.third-page-image{
    width: 868px;
    height: 489px;
}
.funny-videos{
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fourth-page-header{
    text-align: center;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.fourth-page-paragraph{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}
.fourth-page-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
    /* text-align: center; */
    
}
.fourth-page-img-paragraph{
    display:flex;
    color: #534C64;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
/* font-weight: 500;
line-height: 30px; */
/* text-align: center; */
/* gap:60px; */
/* text-align: left; */
}
.fifth-page{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.fifth-page-paragraph{
    
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.fifth-page-image{
       
}
.bottom-image{
   
    position: relative;
    bottom: 240.5px;
    right:173.33px;
}
.fifth-page-image img{
    /* padding-left: 697px; */
    /* margin-left: 695px; */
    width: 634.833px;
height: 650px;
}
.bottom-image img{
    width: 318.5px;
    height: 365.083px;
    
}
.fifth-page-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:10px 346px 0px 346px;
}
.fifth-page h3{
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
/* line-height: 60px */
}
.sixth-page{
    display: flex;
    align-items: center;
    padding-left: 220px;
}
.bottom-second-image{
    position: relative;
    bottom: 240.5px;
    left:520.33px;
    

}
.sixth-page-image img{
    /* padding-left: 50px; */
}
.play-games{
    font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.anywhere{
    font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
}