@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@400;500&family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* *{
    max-width: 1920px;
    margin: 0 auto;
} */
footer{
    max-width:1920px;
    margin:0 auto;
    background-color: #0B0223;
    padding-top: 50px;
}

.nav-container {
  border: 1px solid red;
  /* height: 130px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
  /* padding-left: 240px; */
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 45px;
  font-weight: 700;
  padding-left: 260px;
}
.logo-container img {
  /* border: 1px solid red; */
  width: 86.041px;
  /* height: 40px; */
  object-fit: cover;
}
.logo-container p {
  font-size: 40px;
}
.nav-items-container {
  /* border: 1px solid blue; */
  width: 50%;
  display: flex;
  /* justify-content: space-between; */
  gap: 50px;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.G {
  color: #f144ae;
}
.nav-items-container a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.follow-us-on {
  color: #3c354f;
  /* text-align: center; */
  font-size: 18px;
  font-weight: 500;
  width: 262px;
  height: 56px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.third-page {
  display: flex;
  align-items: center;
  padding: 55px 240px 56px 240px;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.third-page-header {
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.third-page-paragraph {
  /* width: 520px; */
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 21px 40px;
  /* align-items: flex-start; */
  gap: 10px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  margin-left: 310px;
  border: 0;
}

main {
  max-width: 1920px;
  margin: 0 auto;
}
.banner {
    border: 1px solid red;
   
}

.third-page-image{
    /* width: 868px;
    height: 489px; */
}
.funny-videos{
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fourth-page-header{
    text-align: center;
font-size: 48px;
font-weight: 700;

}
.fourth-page-paragraph{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}
.fourth-page-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
    /* text-align: center; */
    
}
.fourth-page-img-paragraph{
    display:flex;
    color: #534C64;
font-size: 20px;
font-weight: 500;
width: 350px;
/* line-height: 30px; */
/* text-align: center; */
/* gap:60px; */
/* text-align: left; */
}
.fifth-page{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.fifth-page-paragraph{
    
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.fifth-page-image{
       
}
.bottom-image{
   
    position: relative;
    bottom: 240.5px;
    right:173.33px;
}
.fifth-page-image img{
    /* padding-left: 697px; */
    /* margin-left: 695px; */
    width: 634.833px;
height: 650px;
}
.bottom-image img{
    width: 318.5px;
    height: 365.083px;
    
}
.fifth-page-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:10px 346px 0px 346px;
}
.fifth-page h3{
    text-align: right;
font-size: 48px;
font-style: normal;
font-weight: 700;
/* line-height: 60px */
}
.sixth-page{
    display: flex;
    align-items: center;
    padding-left: 220px;
}
.bottom-second-image{
    position: relative;
    bottom: 240.5px;
    left:520.33px;
    

}
.sixth-page-image img{
    /* padding-left: 50px; */
}
.play-games{
    font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.anywhere{
    font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
}
.seventh-page{
    display:flex;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.seventh-page h3{
    color: #FFF;
    
font-family: Work Sans;
font-size: 48px;
font-weight: 700;
/* line-height: 60px; */
}
.seventh-page p{
    color: #FFF;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.list-item{
    display: flex;
    justify-content: space-between;
}
.seventh-page-text{
    justify-content: center;
    /* text-align: left; */
    padding-left: 240px;
    padding-top: 100px;
}
.second-button{
    color: #f144ae;
    font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
border: 0;
/* background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text; */

/* -webkit-text-fill-color: transparent; */
display: inline-flex;
padding: 21px 40px;
/* align-items: flex-start; */
gap: 10px;
border-radius: 48px;
background: #FFF;
}
.portugal{
    text-align: right;
}
.first-title{
    color: #0B0223;
/* text-align: center; */
font-size: 48px;
font-weight: 600;

}
.second-title{
    /* text-align: center; */
font-size: 95px;
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.first-frame{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 10px;
    
}

.pink-button{
    color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
/* gap: 10px; */
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
border: 0;
}
.blue-button{
    color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;

padding: 21px 40px;

/* gap: 10px; */
border-radius: 48px;
background: #4EC5F7;
border: 0;

}
.button-blog{
    display: flex;
    justify-content: center;
    gap:15px
}
.second-page{
    display: flex;
    /* gap:500px; */
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    
    gap: 530px;
}
.first-column{
    padding-left:240px;
    /* background-image: url(images/Group\ 14.png); */
    background-repeat: no-repeat;
    
    
}
.second-column{
    /* padding-left: 430px; */
}
.whole-first-frame{
    
}
.profile{
    display: flex;
    width: 243px;
height: 80px;
border-radius: 50px;
background: #FFF;
align-items: center;
gap:7px;
border: 0;
    
}
.first-button-section{
    display: flex;
    justify-content: space-around;
}
.b-profile{
    color:#f144ae;
    display: flex;
    width: 243px;
height: 80px;
border-radius: 50px;
background: #FFF;
align-items: center;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
border-color:  #FF42A5 ;
gap:7px;
}
.second-button-section{
    display: flex;
    justify-content: space-around;
}
.eighth-page{
    padding: 100px 20px 100px 120px;
}
.p-container{
    display: flex;
    gap:60px;
    justify-content: center;
}
.pp{
    color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 600;
}
.company-icon{
    display: flex;
    gap:40px;
    justify-content: center;
    padding-top: 40px;
}
.condition-type{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.conditions{
    display: flex;
    gap:40px;
    justify-content: center;
    padding-top: 40px;
}
.copy{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 20px 0 90px 0;
}
.logo-container-footer{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 45px;
    font-weight: 700;
    /* padding-left: 260px; */
    justify-content: center;
    color: white;
}
.hudai{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    align-items: center;
}
/* for mobile device */
@media screen and (max-width: 576px) {
    *{border: 1px solid red;}
    *{max-width:576px ;}
    *{margin: 0 auto; }
    *{padding: ;}
    header{
        
        text-align: center;
        justify-content: center;
        /* border-color: #f144ae;
        border: 10px; */
        align-items: center;
        /* padding-right: 10px; */
        /* max-height: ; */
        /* margin: 0px 0px 300px 793px ; */

    }
    .logo-container{
        padding-left: 0px ;
    }
    .nav-container{
        flex-direction: column;
        justify-items: center;
        padding-top: 50px;
        padding-right: 10px;
        padding-left: 0px;
        
        text-align: center;
        margin: 0 auto;
    }
    .nav-items-container{
        flex-direction: column;
      
        align-items: center;
        padding-left: 0px;
        padding-top: 30px;
        
    }
    .second-page{
        
        flex-direction: column;
        gap:0px;
        background-image:none;
    }
    .first-column{
        order: 2;
        margin:0 auto;
        padding-left: 0px;
        background-image: url(images/Group\ 14.png);
        /* max-width: auto; */
        /* padding-right: 140px; */
    }
    .second-column{
        order: 1;
    
        

    }
    .third-page{
        flex-direction: column;
        align-items: center;
        background: none;
        padding: 0;
    }
    .third-page-image{
        max-width: 576px;
        
    }
    .third-page-header{
        text-align: center;
    }
    .third-page-paragraph{
        margin-top: 30px;
        text-align: center;
    }
    .btn-primary{
        margin-top: 20px;
        margin-left: 181px;
    }
    .fourth-page-header{
        font-size: 38px;
    }
    .fourth-page-image-container{
        flex-direction: column;
    }
    .fourth-page-img-paragraph{
        font-size: 12px;
    }
    .fifth-page{
        flex-direction: column;
    }
    .fifth-page h3{
        text-align: center;

    }
    .fifth-page-paragraph{
        text-align: center;
    }
    .fifth-page-text{
        padding: 0px;
    }
    .fifth-page-image img{
        width: 60%;
        height:80%;
        padding-left: 150px;
    }
    .bottom-image img{
        width:37%;
        height:30%;
    }
    .bottom-image{
        position: relative;
        bottom:200px ;
        right:100px ;
    }
    .sixth-page{
        flex-direction: column;
        display: none;

    }
    .seventh-page{
        flex-direction: column;
    }
    .seventh-page-text{
        padding-left: 0px;
        padding-top: 0px;
    }
    .eighth-page{
        display: grid;
        grid-template-columns: repeat(2,1fr) ;
        padding: 0px 0px 0px 0px;
    }
    .first-button-section{
        display: contents;
    }
    .second-button-section{
        display:contents;
        
        
    }
    .profile{
        gap: 0px;
        height: 40;
        width: 120;
    }
    .b-profile{
        gap: 3px;
        height: 40;
        width: 120;
    }
    .logo-container-footer{
        gap: 2px;
        padding: 0px 160px;
    }
    .p-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 30px 80px 0px 80px;
        gap:30px;
        

    }
    .company-icon{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding-left: 140px;
        padding-right: 140px;
        gap: 20px;

    }
    .conditions{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-left: 60px;
        padding-right: 60px;
    }
    .copy{
        width:300px;
    }

}
